{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Sobre Nosotros</h1>
    <p>Somos una empresa de tecnología comprometida con la innovación y la excelencia en el desarrollo de soluciones informáticas.</p>
    <p>Nuestro equipo está formado por profesionales altamente capacitados en diversas áreas, trabajando juntos para ofrecer productos y servicios de calidad que satisfagan las necesidades de nuestros clientes.</p>
    <p>No dude en contactarnos si tiene alguna pregunta o si desea colaborar con nosotros.</p>
    <a href="{% url 'home' %}">Volver al Inicio</a>
</body>
</html>
